.pie_de_pagina{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #7c65a9;
  width: 100%;
  color: rgb(209, 197, 197);
  padding: 5px;
  padding-right: 50px;
  padding-right: 50px;
  list-style-type: none;
  text-decoration: none;
    & a{
      list-style-type: none;
      text-decoration: none;
      color: black;
    }
      &__Redes_Sociales &__a{
        padding-right: 15px;
      }
}


  