/*** ING ***/
#carouselExampleIndicators{
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    
}

.Descripcion{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 100px;
    list-style-type: none;
    text-align: center; 
}