#carouselExampleIndicators{
    float: left;
    margin-right: auto;
    padding: 40px;
    width: 1000px;
}
.Descripcion{
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    list-style-type: none; 
}