/*** ING ***/
#carouselExampleIndicators{
    margin-left: auto;
    margin-right: auto;

    padding: 40px;
    width: 1000px;
    
}
.Descripcion__Descripcion{
    text-align: center;
    list-style-type: none;
}
.Descripcion{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 100px;
}